/* Recent Episodes Section */
.recent-episodes{
    padding:60px;
    text-align:center;
}

.recent-episodes h2{
    margin-bottom:30px;
    color:#6f5d86;
}

/* Adds space below the introductory paragraph in the recent episodes section */
.recent-episodes p{
    margin-bottom:30px;
}

/* Responsive grid for the episode cards*/
.card-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap:20px;
}

/* Individual episode card styling */
.card{
    background:#fffaf6;
    border:2px solid #E8DDF7;
    border-radius:15px;
    padding:25px;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
    display:flex;
    flex-direction:column;
    overflow:visible;
}

/* Spotify episode player iframe inside the episode card */
.card iframe{
    width:100%;
    min-width:300px;
    max-width:100%;
    display:block;
    margin-top:auto;
    border:none;
    border-radius:12px;
}

.card-content{
    flex:1;
    display:flex;
    flex-direction:column;
}

/* Limits episode descriptions to three lines */
.card-content p{
    display:-webkit-box;
    -webkit-line-clamp:3;
    line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    min-height: calc(3*1.6em)
}

.card .tags{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Slightly lifts the card when the mouse hover over it for a subtle interactive effect */
.card:hover{
    transform:translateY(-5px);
}

.card h3{
    color:#6f5d86;
    margin-bottom:10px;
    min-height: 3.2em;
    display:-webkit-box;
    -webkit-line-clamp:2;
    line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

/* Episode number badge styling */
.episode-number{
    display:inline-block;
    background:#F9DCE3;
    padding:5px 12px;
    border-radius:20px;
    margin-bottom:15px;
    font-size:0.9rem;
}
